.player-creation-area {
  border: 2px solid black;
  padding: 50px;
  height: 100%;
  border-radius: 50px;
  background: #000035;
  color: white;
}

.player-editing-space {
  border: 2px solid black;
  padding: 50px;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to right, #052842, #05466d, #052842);
  color: white;

}