$breakpoints: (phone: 640px,
        tablet: 768px,
        desktop: 1024px) !default;

.player-creation-area {
  border: 2px solid black;
  padding: 50px;
  height: 100%;
  border-radius: 50px;
  background: #000035;
  color: white;
}

.player-editing-space {
  border: 2px solid black;
  padding: 50px;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to right, #052842, #05466d, #052842);
  color: white;

}

.player-portrait-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.play-pazaak-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
