.card-play-space {
  background: #8B7E66;
  padding: 5px;
  margin: 5px;
  height: 100%;
  //display: flex;
  //flex-direction: column;
  //align-items: flex-start;
  //justify-content: center;
  //width: 100%;
}