$breakpoints: (phone: 640px,
        tablet: 768px,
        desktop: 1024px) !default;

.App {
  text-align: center;
  font-family: 'Audiowide', Arial, SansSerif;
  min-height: 100vh;
}

.game-content {
  background: #292929;
  padding: 50px 10rem;
  height: 100%;
}
